<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RODO</title>
</head>
<body onload="window.print()">
    {% for r in r_rows %}    
    
    <div style="margin-top: 1cm; margin-left: 1.5cm; margin-right: 1.5cm; margin-bottom: 0.5rem;">
    <p style="text-align: center;font-size: large;"><b>Zgoda pracownika na przetwarzanie danych osobowych (nr telefonu komórkowego) przez pracodawcę</b> <p>
     
    <div style="font-size: small; text-align: justify;">
    <p>Niniejszym w oparciu o art. 22 <sup>1b</sup> kodeksu pracy przekazuję pracodawcy moje dane osobowe obejmujące:</p>
    <p style="color: red;">numer telefonu komórkowego ____________________________ w celu umożliwienia pracodawcy, za pomocą kodu jednorazowego, przesyłanego w treści 
    wiadomości SMS, weryfikacji mojej tożsamości w przypadku korzystania przeze mnie ze zdalnego (spoza siedziby pracodawcy) dostępu do systemów teleinformatycznych.</p>
    <p>Jednocześnie oświadczam, że dane podałem/am dobrowolnie oraz przyjmuję do wiadomości, że przysługuje mi prawo do cofnięcia zgody w dowolnym momencie bez wpływu 
    na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem, co jednak będzie się wiązało z brakiem możliwości zdalnego 
    korzystania z ww. systemów.</p>
    <p>Oświadczam, że przed udzieleniem zgody zapoznałem/am się z poniższymi informacjami, udzielonymi mi na podstawie rozporządzenia Parlamentu Europejskiego 
     i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu 
     takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (Dz. U. UE. L. z 2016 r. Nr 119, str. 1) – dalej RODO:</p>
    <ol> 
        <li>Administratorem danych jest - Sąd Apelacyjny w Gdańsku ul. Nowe Ogrody 28/29 Gdańsk 80-803, reprezentowany przez Prezesa Sądu Apelacyjnego w Gdańsku.</li>    
        <li>Dane kontaktowe Administratora danych:<br>
            telefon: 58 32 38 600<br>
            adres e-mail: administracja@gdansk.sa.gov.pl<br>
            Dane kontaktowe do Inspektora danych osobowych; Monika Kucharczyk - Wocial<br>
            telefon: 58 32 38 546, adres e-mail: iodo@gdansk.sa.gov.pl</li>
        <li>Pobrane dane przetwarzane będą w celu nawiązywania kontaktu z linią wsparcia (w przypadku problemów z logowaniem) oraz w celu dokonywania uwierzytelniania 
            pracownika w systemach teleinformatycznych.</li>    
        <li>Podstawną prawną przetwarzania danych jest art. 6 ust. 1 lit. a RODO i art. 22 <sup>1b</sup> kodeksu pracy.</li>   
        <li>Dane osobowe będą przechowywane do czasu wycofania zgody, na podstawie której dane są przetwarzane, dane zostaną usunięte bez zbędnej zwłoki po ustaniu 
            stosunku służbowego (stosunku pracy).</li> 
        <li>Ma Pan/Pani prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.</li>    
        <li>Podanie danych jest dobrowolne, podanie danych nie jest wymogiem ustawowym ani umownym ale jest konieczne do uwierzytelniania zdalnego logowania się do systemów 
            teleinformatycznych pracodawcy.</li>    
        <li>Podane dane mogą być udostępnione Ministerstwu Sprawiedliwości poprzez system teleinformatyczny, który jest systemem centralnym, oraz nie będą udostępniane 
            innym podmiotom.</li>    
        <li>Dane będą przetwarzane wyłącznie przez upoważnionych pracowników Administratora danych.</li>    
        <li>Na zasadach określonych przepisami RODO oraz ustawy o ochronie danych osobowych ma Pan/Pani prawo dostępu do treści swoich ww. danych oraz prawo do sprostowania, 
            usunięcia lub ograniczenia przetwarzania danych, prawo do wniesienia sprzeciwu wobec przetwarzania oraz prawo do przenoszenia danych. 
            Ponadto ma Pan/Pani prawo do wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych, gdy uzna Pan/Pani, że przetwarzanie Pana/Pani 
            danych osobowych narusza ww. przepisy o ochronie danych osobowych.</li>
        <p style="font-size: 600%;"> </p>    


    </ol>

    <Div style="text-align: right;">
        <p> {{ r['odb'] }} </p>
        <p style="font-size: 600%;"></p> </p>
    <p>________________________________</p>
    <p>(data i czytelny podpis pracownika</p>
    </Div>

    </div>
</div>
{% endfor %}
</body>
</html>